// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
@use "colors" as *;

window#bar {
  //background-color: rgba(0, 0, 255, 0);
  background: none;
  color: $onSecondaryContainer;
  margin-left: 10px;
  margin-top: 5px;
  
  > centerbox {
    background: $secondaryContainer;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}

#clock {
  color: $onSurface;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
}

#battery {
  &-percent {
    color: $onSurface;
    margin-right: 10px;
  }
  &-icon {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
    font-size: 24px;
    color: $onSurface;
  }
}

#roboto {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 600;
  color: $onSurface;
}

#wifi {
  &-label {
    margin-right: 10px;
  }
  &-icon {
    margin-right: 10px;
  }
  &-button {
    color: $onSurface;
    background: none;
  }
}