$primary: #006876;
$onPrimary: #ffffff;
$primaryContainer: #a1efff;
$onPrimaryContainer: #001f25;

$secondary: #4a6268;
$onSecondary: #ffffff;
$secondaryContainer: #cde7ed;
$onSecondaryContainer: #051f23;

$tertiary: #545d7e;
$onTertiary: #ffffff;
$tertiaryContainer: #dbe1ff;
$onTertiaryContainer: #101a37;

$error: #ba1a1a;
$onError: #ffffff;
$errorContainer: #ffdad6;
$onErrorContainer: #410002;

$surfaceDim: #d5dbdc;
$surface: #f5fafc;
$surfaceBright: #f5fafc;
$surfaceContainerLowest: #ffffff;
$surfaceContainerLow: #eff5f6;
$surfaceContainer: #e9eff0;
$surfaceContainerHigh: #e3e9eb;
$surfaceContainerHighest: #dee3e5;

$surfaceVariant: #dbe4e6;
$surfaceTint: #006876;
$background: #f5fafc;
$onBackground: #171d1e;
$onSurface: #171d1e;
$onSurfaceVariant: #3f484a;

$inverseSurface: #2b3133;
$inverseOnSurface: #ecf2f3;
$inversePrimary: #83d3e3;

$primary-fixed: #a1efff;
$primary-fixed-dim: #83d3e3;
$on-primary-fixed: #001f25;
$on-primary-fixed-variant: #004e59;

$secondary-fixed: #cde7ed;
$secondary-fixed-dim: #b1cbd1;
$on-secondary-fixed: #051f23;
$on-secondary-fixed-variant: #334a50;

$tertiary-fixed: #dbe1ff;
$tertiary-fixed-dim: #bcc5eb;
$on-tertiary-fixed: #101a37;
$on-tertiary-fixed-variant: #3c4665;

$outline: #6f797b;
$outline-variant: #bfc8ca;

$scrim: #000000;
$shadow: #000000;

$source-color: #6fa8b4;