$primary: #ddb9f8;
$onPrimary: #573a6f;
$primaryContainer: #573a6f;
$onPrimaryContainer: #f2daff;
$secondary: #d1c1d9;
$onSecondary: #372c3f;
$secondaryContainer: #4e4256;
$onSecondaryContainer: #eeddf6;
$tertiary: #f3b7bc;
$onTertiary: #4c2529;
$tertiaryContainer: #663a3f;
$onTertiaryContainer: #ffdadb;
$error: #ffb4ab;
$onError: #690005;
$errorContainer: #93000a;
$onErrorContainer: #ffdad6;
$surfaceDim: #151217;
$surface: #151217;
$surfaceBright: #3c383e;
$inverseSurface: #e8e0e8;
$inverseOnSurface: #332f35;
$surfaceContainerLowest: #100d12;
$surfaceContainerLow: #1e1a20;
$surfaceContainer: #221e24;
$surfaceContainerHigh: #2d292e;
$surfaceContainerHighest: #383339;
$inversePrimary: #705289;
$onSurface: #e8e0e8;
$onSurfaceVariable: #cdc4ce;
$outline: #968e98;
$outlineVariant: #4b454d;
$scrim: #000000;
$shadow: #000000;
