// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
@use "styles/colors" as *;

window.Bar {
  background: transparent;
  color: $onSecondaryContainer;
  font-weight: bold;

  > centerbox {
    background: $secondaryContainer;
    border-radius: 10px;
    margin: 8px;
  }

  button {
    border-radius: 8px;
    margin: 2px;
  }
}
