@import "colors.css";

button {
  background: @surface_container_lowest; /* Material primary color */
  margin-top: 20px;            /* Space between buttons */
  margin-left: 10px;         /* Space between buttons */
  margin-right: 10px;         /* Space between buttons */
  min-width: 64px;          /* Material minimum touch target width */
  padding: 0 16px;          /* Horizontal padding */
  border-radius: 50px;    /* Half the height for pill shape */
  font-size: 14px;          /* Material default button font size */
  border: @outline_variant 1px solid; /* Outline variant border */
  color: @on_surface;       /* Text color */
  text-shadow: none;
}

button:hover {
  background: @surface_container_highest; /* Hover background */
}

button:active {
  background: @primary; /* Hover + active background */
  color: @surface_container_lowest;
}

window {
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

#lock {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/lock.png"));
}

#logout {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/logout.png"));
}

#suspend {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/suspend.png"));
}

#hibernate {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/hibernate.png"));
}

#shutdown {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/shutdown.png"));
}

#reboot {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/reboot.png"));
}